[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "etckeeper"]
	path = etckeeper
	url = https://github.com/sedden/puppet-etckeeper.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/camptocamp/puppet-postgresql
[submodule "augeas"]
	path = augeas
	url = https://github.com/camptocamp/puppet-augeas.git
[submodule "apt"]
	path = apt
	url = https://github.com/sedden/puppet-apt.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/sedden/puppet-ntp.git
[submodule "munin"]
	path = munin
	url = https://github.com/sedden/puppet-munin.git
[submodule "apache"]
	path = apache
	url = https://github.com/camptocamp/puppet-apache
[submodule "concat"]
	path = concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "foreman"]
	path = foreman
	url = https://github.com/theforeman/puppet-foreman.git
[submodule "pgconf"]
	path = pgconf
	url = https://github.com/camptocamp/puppet-pgconf.git
